.nav-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
    background-color: #2c3436;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.hamb{
    display: inline-block;
    background-color: #2c3436;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    border: none;
    width: 19%;
    height: 99%;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}
.firstSec{
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 22%;
}
.middleSec{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 28%;
    align-content: center;
    height: 100%;
    padding: 10px;
}
.searchButton{
    position:absolute;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #2c3436;
    color: #dedede;
    border: none;
    font-size: 18px;
    height: 34px;
    box-shadow: 1px 1px 1px #141d20;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-input{
    display: inline-block;
    width: 325px;
    background-color: #141d20;
    height: 35px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    color: #dedede;
}
input:focus{
    outline: none;
    color: #dedede;
}
.endSec{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.endList{
    height: 100%;
}
ul>li{
    display: inline-block;
    list-style-type: none;
}
ul>li>a{
    color: #dedede;
}
.dropdown{
    z-index: 99;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0rem;
    right: 0;
    border: #2b2b2b;
    background-color: #f0f0f0;
    justify-content: left;
    padding: 3px;
    width: 12%;
    visibility: hidden;
    opacity: 0;
    display: none;
}
.dropdown>li{
    display: block;
    transition-duration: 0.5s;
    margin-bottom: 5px;
    padding: 8px;
    left: 0px;
    width: 100%;
}
.dropdown>li:hover{
    background-color: #a3a3a3;
}
.dropdown>li>a{
    text-decoration: none;
    color:  #141d20;
    width: 100%;

}
.userDropdown:hover > .dropdown, .dropdown:hover > .dropdown{
    visibility: visible;
    opacity: 1;
    display: block;
}
.dropdown>li{
    clear: both;
    width: 100%;
}
.sidebar{
    top: 63.2px;
    position: fixed;
    width: 57px;
    height: 100vh;
    z-index: 100;
    background-color: #2c3436;
    overflow:hidden;
    transition:width .3s ease;
    cursor:pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
}
.sidebar:hover{
    width: 200px;
}
@media screen and (max-width: 600px) {
    .sidebar:hover{
        width: 80px;
    }
}

.sideNav{
    list-style-type: none;
    color:white;
}
.sideNav:first-child{
    padding-top:1.5rem;
}
.sideNav_item{
    padding-bottom:0.5rem;

}
.sideNav_item>a{
    position: relative;
    display:block;
    top:-30px;
    padding-left:25px;
    padding-right:15px;
    transition:all .3s ease;
    margin-left:25px;
    margin-right:10px;
    text-decoration: none;
    color:white;
    font-weight: 100;
    font-size: 1.35em;
}

.sideNav_item>a:after {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius:2px;
    background:radial-gradient(circle at 94.02% 88.03%, #ffe032, transparent 100%);
    opacity:0;
    transition:all .5s ease;
    z-index: -10;
}
.sideNav_item:hover a::after{
    opacity: 1;
}

.sideNav_item>img{
    width:26px;
    height:26px;
    position: relative;
    left:-20px;
    cursor:pointer;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;    
}

.videoSection{
    width: 100%;
    height: 100vh;
    top: 63px;
    background-color: #141d20;
    padding: 100px 20px 30px 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-section{
    width: 100%;
    height: 100%;
    background-color: #141d20;
    padding: 60px 20px 30px 90px;
}

.video-card{
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;
}
.video-card>img{
    margin-bottom: 10px;
    background-color: #2c3436;
    
}
.card-title{
    margin-top: 5px;
    display: block;
    margin-left: 5px;
    font-size: 18px;
    color: #dedede;
    text-decoration: none;
}
.card-title:hover{
    color: #f0f0f0;
}
.card-icon{
    color: #dedede;
}
.card-icon > img{
    border-radius: 50%;
    margin-left: 5px;
}


.group{
    border: 2px solid #2c3436;
    border-radius: 5px;
    padding: 30px;
}
label{
  margin-bottom: 5px;
  color: #dedede;
}
.row{
    justify-content: center;
    padding-bottom: 10px;
}
.form-control{
    background-color: #2c3436;
    border: none;
    color: #ccc;
    margin-bottom: 10px;
}
.form-control:focus{
    background-color: #2c3436;    
    color: #ccc;
}
.btn-outline-primary{
    border-color: #ffe032;
    color: #ffe032;
}
.btn-outline-primary:hover{
    background-color: #ffe032;
    color: #141d20;
    border: none;
}
.video-player{
    width: 100%;
    height: 100%;
    background-color: #141d20;
    padding: 110px 20px 30px 40px;
}
video{
    z-index: 1;
}
.chat-box{
    width: 100%;
}
.chat-title{
    width: 100%;
    padding: 10px;
    background-color: #434a4d;
    color: #ffffff;
    text-align: center;
}
.chat-content{
    height: auto;
    width: 100%;
    padding: 15px 10px;
    color: #dedede;
}
.content{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
textarea{
    border:none; 
    height:30px;
    outline: 0px;
    background:transparent;
    bottom:0;
    width:100%;
    border-bottom: 1px solid rgb(112, 109, 109);
    color: #dedede;
}
textarea:focus{
    border-bottom: 2px solid #dedede;
}
.videoTitle{
    color: #dedede; 
    margin-bottom: 20px;
}
.desc{
    color: #dedede;
}
.videoInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    background-color: #2c3436;
    padding: 0px;
    height: 350px;
    margin-right: 40px;
}
.card-text{
    color: #dedede;
}
.titleOfVideo{
    margin-left: 10px;
}
.watch-button{
    background-color: #ffe032;
    color: #141d20;
    border: #141d20;
    padding: 5px;
    width: 80px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}
.settingPage{
    width: 100%;
    height: 100vh;
    background-color: #141d20;
    padding: 60px 20px 30px 90px;
}
.editPage{
    width: 100%;
    height: 100%;
    background-color: #141d20;
    padding: 140px 20px 30px 90px;
}

